---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About SCVI Immigration Law</Fragment>
      <Fragment slot="desc">TODO(stage2): add final About introduction.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-navy-900">
        TODO(stage2): add About section heading.
      </h2>
      <p class="text-lg leading-relaxed text-navy-600">
        TODO(stage2): add final About section content.
      </p>
    </div>
  </Container>
</Layout>
