---
import Container from "./container.astro";
import Link from "./ui/link.astro";
---

<section class="section-padding">
  <Container>
    <div
      class="mx-auto flex max-w-3xl flex-col items-center rounded-md bg-navy-800 p-8 text-center md:px-20 md:py-20">
      <h2 class="text-4xl tracking-tight text-white md:text-6xl">
        Your Path to Canada Starts Here
      </h2>
      <div class="mt-5 flex">
        <Link href="/contact" style="inverted">Book a Consultation</Link>
      </div>
    </div>
  </Container>
</section>
