---
import Container from "./container.astro";
import Link from "./ui/link.astro";
---

<section class="section-padding">
  <Container>
    <div
      class="mx-auto flex max-w-[76rem] flex-col items-center rounded-[28px] bg-[linear-gradient(135deg,#2c9c95,#218079)] px-[30px] py-[52px] text-center">
      <h2 class="text-4xl font-bold tracking-tight text-white md:text-6xl">
        Your Path to Canada Starts Here
      </h2>
      <div class="mt-7 flex">
        <Link href="/contact" style="inverted">Book a Consultation</Link>
      </div>
    </div>
  </Container>
</section>
