---
const { align = "center" } = Astro.props;
const hasDesc = Astro.slots.has("desc");
---

<div class:list={[align === "center" && "text-center"]}>
  <h1 class="text-4xl font-bold tracking-tight text-navy-900 lg:text-5xl">
    <slot name="title">Title</slot>
  </h1>
  {hasDesc && (
    <p class="mt-4 text-lg text-body">
      <slot name="desc" />
    </p>
  )}
</div>
